/* --------------------------------------------------------------- */
/* Background Color */
/* --------------------------------------------------------------- */

body {
    background-color: #FFF;
    color: #666;
}

/* --------------------------------------------------------------- */
/* Font Awesome */
/* --------------------------------------------------------------- */

.form-grid div.row.form-group > div .fa-times-circle {
    position: absolute;
    top: -.1em;
    margin-left: 2px;
    bottom: 0;
    font-size: 12px;
    color: #bfbfbf;
    display: inline-block;
    cursor: pointer;
}
.form-grid .fa-code-fork {
    position: absolute;
    top: .6em;
    bottom: 0;
    padding: 0;
    margin-left: -15px;
    z-index: 0;
    font-size: 12px;
    display: inline-block;
    color: #CBCBCB;
}
.form-grid .fa-chevron-down {
    position: absolute;
    top: .6em;
    bottom: 0;
    padding: 0;
    margin-left: -15px;
    z-index: -2;
    font-size: 8px;
    display: inline-block;
    cursor: pointer;
    color: #CBCBCB;
}
.form-grid .fa-chain-broken {
    position: absolute;
    top: .4em;
    bottom: 0;
    padding-left: 2px;
    z-index: 2;
    font-size: 10px;
    display: none;
    cursor: pointer;
    color: #CBCBCB;
}
.form-grid .fa-link {
    position: absolute;
    top: .4em;
    bottom: 0;
    padding-left: 2px;
    z-index: 3;
    font-size: 10px;
    display: none;
    cursor: pointer;
    color: #CBCBCB;
}
.fa-chain-broken.linking-button {
    background-color: #E6E6E6;
    position: absolute;
    top: -0.975em;
    bottom: 0.975em;
    right: 0.313em;
    z-index: 2;
    font-size: 10px;
    display: inline-block !important;
    cursor: pointer;
    color: #7F7F7F;
    padding: 1em;
}
.fa-chain-broken.linking-button-enabled {
    background-color: #146ed2 !important;
    color: white !important;
}
.fa-chain-broken.linking-button:hover {
    background-color: #146ed2;
    color: white;
}
.fa-chain-broken:hover {
    color: #146ed2;
}
.fa-link:hover {
    color: #146ed2;
}
.form-grid div.row.form-group > div .fa-check-square-o {
    position: absolute;
    top: .6em;
    bottom: 0;
    padding: 0;
    z-index: -2;
    margin-left: -15px;
    font-size: 14px;
    display: inline;
}
.form-grid div[class*="selected"] i.fa-check-square-o {
    color: white;
}

/* --------------------------------------------------------------- */
/* Form-Grid & Column Styling */
/* --------------------------------------------------------------- */

.form-grid .row > div .form-group {
    margin-bottom: 0;
}
.form-grid .row.form-group {
    margin-bottom: 0;
}


.form-grid div[class*="col-"] {
    max-height: 41px;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #929292;
    font-size: 13px;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 5px;
}
.from-grid .row > div[class*="col-"]:nth-child(n+2) {
/*    border-left: 1px solid #ccc;*/
}
.form-grid .row > div:nth-child(n+2) {
/*    border-left: 1px solid #ccc;*/
    ;
}
.form-grid-disabled {
    background-color: #f5f5f5 !important;
}
.form-control[disabled] {
    background-color: transparent !important;
    cursor: default;
}

/* --------------------------------------------------------------- */
/* Float-Label-Control (styling for input & labels) */
/* --------------------------------------------------------------- */

.form-grid div.row .form-group.float-label-control {
    -moz-animation: float-labels-dropdown 300ms none ease-out;
    -webkit-animation: float-labels-dropdown 300ms none ease-out;
    -o-animation: float-labels-dropdown 300ms none ease-out;
    -ms-animation: float-labels-dropdown 300ms none ease-out;
    -khtml-animation: float-labels-dropdown 300ms none ease-out;
    animation: float-labels-dropdown 300ms none ease-out;
    /* There is a bug sometimes pausing the animation. This avoids that.*/
    animation-play-state: running;
    -webkit-animation-play-state: running;
    padding: 0 8px;
}
.form-grid div > input {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: transparent;
    vertical-align: text-bottom;
    display: inline;
    height: 25px;
        margin-left: -5px;
}
.form-grid div.row .form-group.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
    top: 0;
    left: 5px;
    font-size: 13px;
}
.form-grid div.row .form-group.float-label-control label {
    top: -1em;
    left: 5px;
    font-size: 0.85em;
}
.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
    top: -1em;
    font-size: 13px;
}
.float-label-control input,
.float-label-control textarea,
.float-label-control label {
    font-size: 13px;
}
.req_font {
    color: #ff3c00 !important;
    display: inline;
}
.form-grid [class*="required"] label {
    color: #929292;
    font-weight: 500;
}
.form-grid [class*="filled"] label {
    color: #bfbfbf !important;
    background-color: #ffffff;
}
.filled {
background-color: #ffffff !important;
}
.form-grid label {
    width: 100%;
    font-weight: normal;
}

/* --------------------------------------------------------------- */
/* Autocomplete, JqueryUI Dropdown, & Jquery Multiselect */
/* --------------------------------------------------------------- */

.ui-widget {
    font-size: 1em !important;
    color: #7f7f7f !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.ui-widget input {
    font-size: 1em;
    color: #404040 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    height: 170px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top: medium none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #146ED2;
    background-color: #146ED2 !important;
/*    background: #146ED2 url("../ui-bg_1x400.png") 50% 50% repeat-x !important;*/
    font-weight: normal;
    color: #ffffff !important;
}
.multi-tag {
    position: relative;
    top: -.6em;
    margin-left: 15px;
    margin-top: -10px;
}
.form-grid .bootstrap-tagsinput {
    border: none;
    margin-left: 15px;
    padding: 10px 0 4px 0;
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
    line-height: 0px;
    background-color: transparent;
}
.form-grid .bootstrap-tagsinput input {
    padding-left: 10px !important;
}


/* --------------------------------------------------------------- */
/* Top CSS*/
/* --------------------------------------------------------------- */

.container-spacing {
    height: 60px;
    width: 100%;
    background: white;
    z-index: 1000;
    top: 0;
}
.container-holder {
/*    height: 50px;*/
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1002;
}
.container-ipreo-top { 
    background: #404040;
    padding: 10px 15px;
}

.container-ipreo-top-blue {
    background-color: #1184db;
        padding: 10px 40px 10px 25px;
}
.container-ipreo-top img {
    margin-top: 10px;
    height: 25px;
    width: auto;
}

.form-material {
    position: relative;
}
.form-material.floating {
    margin-top: 0px;
    margin-bottom: 0px;
/*    padding-left: 5px;*/
}
.form-material.floating + .form-material.floating {
    margin-top: 0px;
}
.form-material .form-control {
    /*  padding: 15px 0 0 0;*/
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
}
.form-material .form-control,
.form-material .form-control:focus,
.form-material .form-control.focus {
    float: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62a8ea), to(#62a8ea)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(#62a8ea, #62a8ea), -webkit-linear-gradient(#fff, #fff);
    background-image: -o-linear-gradient(#62a8ea, #62a8ea), -o-linear-gradient(#fff, #fff);
    background-image: linear-gradient(#62a8ea, #62a8ea), linear-gradient(#fff, #fff);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}
.no-cssgradients .form-material .form-control {
    border-bottom: 2px solid #e4eaec;
}
.form-material .form-control::-webkit-input-placeholder {
    color: #a3afb7;
}
.form-material .form-control::-moz-placeholder {
    color: #a3afb7;
}
.form-material .form-control:-ms-input-placeholder {
    color: #a3afb7;
}
.form-material .form-control:disabled::-webkit-input-placeholder {
    color: #ccd5db;
}
.form-material .form-control:disabled::-moz-placeholder {
    color: #ccd5db;
}
.form-material .form-control:disabled:-ms-input-placeholder {
    color: #ccd5db;
}
.form-material .form-control:focus,
.form-material .form-control.focus {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    outline: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    /*    padding-left: 15px;*/
    padding: 0;
}
.no-cssgradients .form-material .form-control:focus,
.no-cssgradients .form-material .form-control.focus {
    background: transparent;
    border-bottom: 2px solid #62a8ea;
}
.form-material .form-control:disabled,
.form-material .form-control[disabled],
fieldset[disabled] .form-material .form-control {
    background: transparent;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #ccd5db;
}
.form-material .form-control:disabled ~ .floating-label,
.form-material .form-control[disabled] ~ .floating-label,
fieldset[disabled] .form-material .form-control ~ .floating-label {
    color: #ccd5db;
}
.form-material .control-label {
    margin-bottom: 0;
    font-weight: 300;
}
.form-material .floating-label {
    position: absolute;
    left: 0;
    font-weight: 200;
    font-size: 14px;
    color: #B0B0B0;
    pointer-events: none;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.form-material .floating-label.floating-label-static {
    position: relative;
    top: auto;
    display: block;
}
.form-material [class*="col-"] > .floating-label {
    left: 15px;
}
.form-material .form-control ~ .floating-label {
    top: 2px;
    font-size: 14px;
/*    padding: 0 5px;*/
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label {
    top: -11.2px;
    font-size: 11.2px;
}
.form-material .form-control.input-sm ~ .floating-label {
    top: 6px;
    font-size: 12px;
}
.form-material .form-control.input-sm:focus ~ .floating-label,
.form-material .form-control.input-sm.focus ~ .floating-label,
.form-material .form-control.input-sm:not(.empty) ~ .floating-label {
    top: -15.6px;
    font-size: 10px;
    padding: 5px 0 0 0;
    /*
  top: -4.6px;
  font-size: 8px;
    padding: 5px 0;
*/
}
.form-material .form-control.input-lg ~ .floating-label {
    top: 5.9999994px;
    font-size: 18px;
}
.form-material .form-control.input-lg:focus ~ .floating-label,
.form-material .form-control.input-lg.focus ~ .floating-label,
.form-material .form-control.input-lg:not(.empty) ~ .floating-label {
    top: -14.4px;
    font-size: 14.4px;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label {
    font-weight: 500;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label {
    color: #62a8ea;
}
.form-material textarea.form-control {
    padding-bottom: 6px;
    resize: none;
}
.form-material.floating textarea.form-control {
    padding-top: 6px;
}
.form-material select.form-control {
    border: 0;
    border-radius: 0;
    box-shadow: 2px 2px 2px 2px #E2E2E2;
}
.form-material:not(.floating) .control-label + select[multiple] {
    margin-top: 500px;
}
.form-material .hint {
    position: absolute;
    display: none;
    font-size: 80%;
}
.form-material .form-control:focus ~ .hint,
.form-material .form-control.focus ~ .hint {
    display: block;
}
.form-material .form-control:not(.empty):invalid ~ .floating-label,
.form-material .form-control.focus:invalid ~ .floating-label {
    color: #f96868;
}
.form-material .form-control:invalid {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f96868), to(#f96868)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#f96868, #f96868), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#f96868, #f96868), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#f96868, #f96868), linear-gradient(#e4eaec, #e4eaec);
}
.form-material.form-group.has-warning .form-control:focus,
.form-material.form-group.has-warning .form-control.focus,
.form-material.form-group.has-warning .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2a654), to(#f2a654)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#f2a654, #f2a654), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#f2a654, #f2a654), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#f2a654, #f2a654), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-warning .form-control:focus,
.no-cssgradients .form-material.form-group.has-warning .form-control.focus,
.no-cssgradients .form-material.form-group.has-warning .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #f2a654;
}
.form-material.form-group.has-warning .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-warning .control-label {
    color: #f2a654;
}
.form-material.form-group.has-warning .form-control:focus ~ .floating-label,
.form-material.form-group.has-warning .form-control.focus ~ .floating-label,
.form-material.form-group.has-warning .form-control:not(.empty) ~ .floating-label {
    color: #f2a654;
}
.form-material.form-group.has-error .form-control:focus,
.form-material.form-group.has-error .form-control.focus,
.form-material.form-group.has-error .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f96868), to(#f96868)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#f96868, #f96868), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#f96868, #f96868), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#f96868, #f96868), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-error .form-control:focus,
.no-cssgradients .form-material.form-group.has-error .form-control.focus,
.no-cssgradients .form-material.form-group.has-error .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #f96868;
}
.form-material.form-group.has-error .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-error .control-label {
    color: #f96868;
}
.form-material.form-group.has-error .form-control:focus ~ .floating-label,
.form-material.form-group.has-error .form-control.focus ~ .floating-label,
.form-material.form-group.has-error .form-control:not(.empty) ~ .floating-label {
    color: #f96868;
}
.form-material.form-group.has-success .form-control:focus,
.form-material.form-group.has-success .form-control.focus,
.form-material.form-group.has-success .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#46be8a), to(#46be8a)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#46be8a, #46be8a), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#46be8a, #46be8a), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#46be8a, #46be8a), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-success .form-control:focus,
.no-cssgradients .form-material.form-group.has-success .form-control.focus,
.no-cssgradients .form-material.form-group.has-success .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #46be8a;
}
.form-material.form-group.has-success .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-success .control-label {
    color: #46be8a;
}
.form-material.form-group.has-success .form-control:focus ~ .floating-label,
.form-material.form-group.has-success .form-control.focus ~ .floating-label,
.form-material.form-group.has-success .form-control:not(.empty) ~ .floating-label {
    color: #46be8a;
}
.form-material.form-group.has-info .form-control:focus,
.form-material.form-group.has-info .form-control.focus,
.form-material.form-group.has-info .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#57c7d4), to(#57c7d4)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#57c7d4, #57c7d4), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#57c7d4, #57c7d4), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#57c7d4, #57c7d4), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-info .form-control:focus,
.no-cssgradients .form-material.form-group.has-info .form-control.focus,
.no-cssgradients .form-material.form-group.has-info .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #57c7d4;
}
.form-material.form-group.has-info .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-info .control-label {
    color: #57c7d4;
}
.form-material.form-group.has-info .form-control:focus ~ .floating-label,
.form-material.form-group.has-info .form-control.focus ~ .floating-label,
.form-material.form-group.has-info .form-control:not(.empty) ~ .floating-label {
    color: #57c7d4;
}
.form-material .input-group .form-control-wrap {
    margin-right: 5px;
    margin-left: 5px;
}
.form-material .input-group .form-control-wrap .form-control {
    float: none;
}
.form-material .input-group .input-group-addon {
    background: transparent;
    border: 0;
}
.form-material .input-group .input-group-btn .btn {
    margin: 0;
    border-radius: 4px;
}
.form-material input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.form-control-wrap {
    position: relative;
}
.modal-title {
    text-align: center;
    font-size: 1em;
}
.modal-body {
    color: #F00;
    font-size: 0.75em;
    text-align: center;
}
.modal-dialog {
    top: 30%;
/*    width: 100%;*/
}
.small-required {
    font-size: 0.65em;
    color: #808080;
    text-align: right;
    font-style: italic;
    margin-top: 10px;
    margin-right: -15px;
}
.page-title p {
    margin: 5px 0 5px 10px;
    color: #404040;
}


/************************************
 * Drops
************************************/


.modal-link {
    padding: 20px;
    margin-bottom: 10px;
}

.modal-link a {
    text-decoration: underline;
    font-weight: 300;
}

.modal-link a:hover{
    color: #0597ea;
    text-decoration: underline;
}

.full-modal {
       
    height: 100%;
    width: 100%;
    margin-left: 30px;
    box-shadow: none;
    border: none;
}

.top-title {
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
}

.modal-window {
    margin-top: 75px;
    overflow-x: scroll;
}

.nav-btn {
    padding-left: 30px;
    padding-top: 9px;
}


.bordered {
    border-bottom: solid 1px #EFEFEF !important;
}

.drops {
    opacity: 0; 
    display: block; 
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px); 
    transform-origin: 50% 50% 0px;
}


.add-fields {
    color: #1184db;
    padding-left: 10px;
}

.saving {
    color: #fff;
    margin: 15px 0;
}





/************************************
 * Modal Styles
************************************/
#modal-container {
	position:relative;
	margin-top:30px;
	overflow-x:scroll;
    overflow-y: hidden;
    margin-left: 25px;
    width: 2500px;
}

#modal-container-two {
	position:relative;
	margin-top:30px;
    margin-left: 25px;
    margin-right: 25px;
}


/************************************
 * Close button
************************************/
#closebt-container {
	position: relative;
	width:100%;
	text-align:left;
	margin-top:40px;
    margin-left: 40px;
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
        color: #fff;
    padding-top: 20px;
}

.closebt:hover {
	color: #d1d1d1;
}

.btn {
	padding: 5px 12px;
}
a.btn {
	position:relative;
	background:#0079bd;
	color:#ffF;
	font-size:20px;
	text-decoration:none;
	margin: 20px;
	padding: 20px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	/*transition*/
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a.btn:hover {
	color:#fff;
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
}

svg:hover {
    fill: #fce57e;
}

.main-button {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 16px;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.main-button:hover {
  background: #0082de;
  text-decoration: none;
  color: #fff;
}





/* Extra beautify */
.buttons {
    visibility: hidden;
    height: 0px;
    padding-top: 10px;
}

.buttons2 {
    visibility: hidden;
    height: 0px;
}
.showme {
    visibility: visible;
   
}

.box {
    width:900px;
    margin-left: 50px;
}

#stay {
    visibility: hidden;
    height: 0px;
}
#apple {
    visibility: hidden;
    height: 0px;
}

.unhidden {
visibility: visible !important;
    height: 40px !important;
}
.thumb {
    background-color: #fff;
    margin: 5px;
    width: 300px;
    padding: 15px 20px 20px 15px;
    box-shadow: 1px 1px 5px 1px #EFEFEF;
}

.thumb2 {
    background-color: #fff;
    margin: 5px;

    padding: 15px 20px 20px 0px;
    border-bottom: solid 1px #EFEFEF;
}

.close2 {
    float: right;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #0079bd;
}

