/* --------------------------------------------------------------- */
/* Background Color */
/* --------------------------------------------------------------- */

body {
    background-color: #FFF;
    color: #666;
}

/* --------------------------------------------------------------- */
/* Font Awesome */
/* --------------------------------------------------------------- */

.form-grid div.row.form-group > div .fa-times-circle {
    position: absolute;
    top: -.1em;
    margin-left: 2px;
    bottom: 0;
    font-size: 12px;
    color: #bfbfbf;
    display: inline-block;
    cursor: pointer;
}
.form-grid .fa-code-fork {
    position: absolute;
    top: .6em;
    bottom: 0;
    padding: 0;
    margin-left: -15px;
    z-index: 0;
    font-size: 12px;
    display: inline-block;
    color: #CBCBCB;
}
.form-grid .fa-chevron-down {
    position: absolute;
    top: .6em;
    bottom: 0;
    padding: 0;
    margin-left: -15px;
    z-index: -2;
    font-size: 8px;
    display: inline-block;
    cursor: pointer;
    color: #CBCBCB;
}
.form-grid .fa-chain-broken {
    position: absolute;
    top: .4em;
    bottom: 0;
    padding-left: 2px;
    z-index: 2;
    font-size: 10px;
    display: none;
    cursor: pointer;
    color: #CBCBCB;
}
.form-grid .fa-link {
    position: absolute;
    top: .4em;
    bottom: 0;
    padding-left: 2px;
    z-index: 3;
    font-size: 10px;
    display: none;
    cursor: pointer;
    color: #CBCBCB;
}
.fa-chain-broken.linking-button {
    background-color: #E6E6E6;
    position: absolute;
    top: -0.975em;
    bottom: 0.975em;
    right: 0.313em;
    z-index: 2;
    font-size: 10px;
    display: inline-block !important;
    cursor: pointer;
    color: #7F7F7F;
    padding: 1em;
}
.fa-chain-broken.linking-button-enabled {
    background-color: #146ed2 !important;
    color: white !important;
}
.fa-chain-broken.linking-button:hover {
    background-color: #146ed2;
    color: white;
}
.fa-chain-broken:hover {
    color: #146ed2;
}
.fa-link:hover {
    color: #146ed2;
}
.form-grid div.row.form-group > div .fa-check-square-o {
    position: absolute;
    top: .6em;
    bottom: 0;
    padding: 0;
    z-index: -2;
    margin-left: -15px;
    font-size: 14px;
    display: inline;
}
.form-grid div[class*="selected"] i.fa-check-square-o {
    color: white;
}

/* --------------------------------------------------------------- */


/* Form-Grid & Column Styling */

/* --------------------------------------------------------------- */

.form-grid .row > div .form-group {
    margin-bottom: 0;
}
.form-grid .row.form-group {
    margin-bottom: 0;
}

/*
.form-grid div[class*="col-"][class*="selected"] {
    border-bottom: 2px solid #146ed2;
    padding-bottom: 0;
}
*/

.form-grid div[class*="col-"] {
    max-height: 41px;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #929292;
    font-size: 13px;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 5px;
}
.from-grid .row > div[class*="col-"]:nth-child(n+2) {
/*    border-left: 1px solid #ccc;*/
}
.form-grid .row > div:nth-child(n+2) {
/*    border-left: 1px solid #ccc;*/
    ;
}
.form-grid-disabled {
    background-color: #f5f5f5 !important;
}
.form-control[disabled] {
    background-color: transparent !important;
    cursor: default;
}

/* --------------------------------------------------------------- */
/* Float-Label-Control (styling for input & labels) */
/* --------------------------------------------------------------- */

.form-grid div.row .form-group.float-label-control {
    -moz-animation: float-labels-dropdown 300ms none ease-out;
    -webkit-animation: float-labels-dropdown 300ms none ease-out;
    -o-animation: float-labels-dropdown 300ms none ease-out;
    -ms-animation: float-labels-dropdown 300ms none ease-out;
    -khtml-animation: float-labels-dropdown 300ms none ease-out;
    animation: float-labels-dropdown 300ms none ease-out;
    /* There is a bug sometimes pausing the animation. This avoids that.*/
    animation-play-state: running;
    -webkit-animation-play-state: running;
    padding: 0 8px;
}
.form-grid div > input {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: transparent;
    vertical-align: text-bottom;
    display: inline;
    /*padding-left: 15px;*/
    height: 25px;
        margin-left: -5px;
}
.form-grid div.row .form-group.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
    top: 0;
    left: 5px;
    font-size: 13px;
}
.form-grid div.row .form-group.float-label-control label {
    top: -1em;
    left: 5px;
    font-size: 0.85em;
}
.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
    top: -1em;
    font-size: 13px;
}
.float-label-control input,
.float-label-control textarea,
.float-label-control label {
    font-size: 13px;
}
.req_font {
    color: #ff3c00 !important;
    display: inline;
}
.form-grid [class*="required"] label {
    color: #929292;
    font-weight: 500;
}
.form-grid [class*="filled"] label {
    color: #bfbfbf !important;
    background-color: #ffffff;
}
.filled {
background-color: #ffffff !important;
}
.form-grid label {
    width: 100%;
    font-weight: normal;
}

/* --------------------------------------------------------------- */
/* Autocomplete, JqueryUI Dropdown, & Jquery Multiselect */
/* --------------------------------------------------------------- */

.ui-widget {
    font-size: 1em !important;
    color: #7f7f7f !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.ui-widget input {
    font-size: 1em;
    color: #404040 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    height: 170px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top: medium none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #146ED2;
    background-color: #146ED2 !important;
/*    background: #146ED2 url("../ui-bg_1x400.png") 50% 50% repeat-x !important;*/
    font-weight: normal;
    color: #ffffff !important;
}
.multi-tag {
    position: relative;
    top: -.6em;
    margin-left: 15px;
    margin-top: -10px;
}
.form-grid .bootstrap-tagsinput {
    border: none;
    margin-left: 15px;
    padding: 10px 0 4px 0;
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
    line-height: 0px;
    background-color: transparent;
}
.form-grid .bootstrap-tagsinput input {
    padding-left: 10px !important;
}

/* --------------------------------------------------------------- */


/* Checkboxes */


/* --------------------------------------------------------------- */

.linked-checkboxes {
    left: -15px !important;
}
.checkbox,
.radio {
    height: 30px;
    position: relative;
    vertical-align: middle;
    display: block;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 0;
    
}
.checkbox,
.radio label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bfbfbf;
    font-size: 13px;
    font-weight: normal;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

/* --------------------------------------------------------------- */
/* CSS for the draggable resizable pop up windows */
/* --------------------------------------------------------------- */

.container-window-placeholder {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    margin-top: 68px;
    margin-right: 5%;
    background: transparent;
}
.container-window {
    width: 500px;
    height: 600px;
    z-index: 2000;
    padding-left: 5%;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    overflow: hidden;
}
.nav-menu-draggable-top-bar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #E6E6E6;
    cursor: move;
    margin-left: -25px;
    padding-top: .1em;
    background-color: #f6f6f6;
    height: 22px;
}
.container-window .fa-chevron-left {
    vertical-align: middle;
}
.container-window .fa-times {
    cursor: pointer;
    margin-right: 5px;
    font-size: 17px;
    z-index: 1001;
    float: right;
    color: #146ed2;
}
.container-window-title {
    font-weight: 400;
    text-align: center;
    padding-bottom: .3em;
}
.container-window-gripper {
    position: absolute;
    top: .1em;
    left: 50%;
    transform: translate(-110%, 0px);
}
.fa.fa-grip:before {
    color: #bfbfbf;
    font-size: 1.1em;
    content: "\f142 \202F \f142 \202F \f142";
}
.container-window-body {
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
    text-align: left;
    margin-left: -10px;
    margin-top: 10px;
}

/* --------------------------------------------------------------- */


/* Navigation menu CSS*/


/* --------------------------------------------------------------- */

.container-spacing {
    height: 60px;
    width: 100%;
    background: white;
    z-index: 1000;
    top: 0;
}
.container-holder {
/*    height: 50px;*/
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1002;
}
.container-ipreo-top { 
    background: #404040;
    padding: 10px 15px;
}

.container-ipreo-top-blue {
    background-color: #1184db;
        padding: 10px 40px 10px 25px;
}
.container-ipreo-top img {
    margin-top: 10px;
    height: 25px;
    width: auto;
}
.container-nav-menu {
    display: inline-block;
    margin-left: 5%;
    position: fixed;
}
.container-nav-menu .fa-plus {
    position: relative;
    display: inline;
    top: -1px;
    margin-right: 5px;
}
.nav-pills > li {
    margin-top: 10px;
    float: right;
    background: #E6E6E6;
}
.nav-pills > li.nav-pills-left {
    margin-top: 10px;
    float: left !important;
    background: #E6E6E6;
}
.nav > li > a {
    color: black;
}
.dropdown-menu {
    top: -5px;
    min-width: 400px;
    left: -310px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.dropdown-menu .fa-times {
    padding-top: 5px;
    color: #146ed2;
    cursor: pointer;
    font-size: 17px;
    z-index: 100;
    float: right;
    margin-right: 10px;
}
.dropdown-menu > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #146ed2 url("../ui-bg_1x400.png") 50% 50% repeat-x !important;
    color: white;
}

/* --------------------------------------------------------------- */
/* Deal CSS */
/* --------------------------------------------------------------- */

.container-deal {
    max-width: 700px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/* --------------------------------------------------------------- */
/* Tranche CSS*/
/* --------------------------------------------------------------- */

.container-tranche-holder {
    display: inline-block;
    width: 100%;
    margin-right: 500px;
    margin-left: 25px;
}
.container-tranche {
    margin-bottom: 50px;
/*    width: 400px;
    margin-left: 30px;
    margin-bottom: 100px;
/*    padding-right: 70px;*/
}
.container-tranche2 {
    display: none;
    margin-bottom: 50px;
/*    width: 400px;
    margin-bottom: 100px;
    margin-left: 50px;
/*    padding-right: 70px;*/
}
.container-tranche3 {
    display: none;
    margin-bottom: 50px;
/*    width: 400px;
    margin-left: 50px;*/
}
.tranche_title {
    font-weight: bold;
}
.container-tranche .form-grid div.row {
    max-width: 400px;
}

.container-card {
/*    box-shadow: 0px 0px 10px 1px #eee;*/
/*    border: 1px solid #F5F5F5;*/
    margin-left: 5px;
    padding: 5px 25px 30px 20px;
    width: 345px;
}
.main-card {
/*    box-shadow: 0px 0px 10px 1px #eee;*/
    width: 750px;
    padding: 5px 25px 30px 20px;
}

.account-card-primary {
    border: 1px solid #eee;
    padding: 10px 10px 15px 15px;
    margin-top: 10px;
    background-color: #F3F9FD;
    border-radius: 3px;
    margin-right: 90px;
}

.account-card-empty {
     border: 1px dashed #dfdfdf;
    padding: 30px 10px 25px 15px;
    margin-top: 10px;
    border-radius: 3px;
    color: #dfdfdf;
}

.account-card-empty:hover {
        border: 1px solid #dfdfdf;
    padding: 30px 10px 25px 15px;
    margin-top: 10px;
    border-radius: 3px;
    color: #0081dc;
    cursor: pointer;
/*    background-color: #F3F9FD;*/
}

.account-card {
       border: 1px solid #eee;
    padding: 10px 10px 15px 15px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 90px;
}

/*
.account-card:hover {
     border: 1px solid #eee;
    padding: 10px 10px 15px 15px;
    margin-top: 10px;
    background-color: #F3F9FD;
    border-radius: 3px;
    margin-right: 65px;
}

*/



.main-card-two {
/*    box-shadow: 0px 0px 10px 1px #eee;*/
    padding: 5px 25px 30px 20px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.issuer-address {
    padding: 5px 25px 30px 20px;
}

.issuer-address2 {
    padding: 0 0 30px 0;
}

.left-margin{
    margin-left: 65px;
}
/* --------------------------------------------------------------- */
/* Input Animations */
/* --------------------------------------------------------------- */


/*
@keyframes float-labels-dropdown {
    0% { opacity: 1; color: #bfbfbf; top: 0.1em; font-size: 1em; }
    20% { font-size: .85em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1; }
}

@-webkit-keyframes float-labels-dropdown  {
    0% { opacity: 1; color: #bfbfbf; top: 0.1em; font-size: 1em; }
    20% { font-size: .85em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1; }
}

@-moz-keyframes float-labels-dropdown  {
    0% { opacity: 1; color: #bfbfbf; top: 0.1em; font-size: 1em; }
    20% { font-size: 1em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1;}
}
*/

.aside {
    background-color: #FFF;
    z-index: 1001;
/*    z-index: -1;*/
    position: fixed;
    height: 100%;
    float: right;
    width: 510px;
    box-shadow: 0px 0px 10px 1px #eee;
    right: 0;
    overflow: hidden;
}


.scroll-container {
    overflow: scroll;
    width: 30%;
    max-width: 510px;
    float: right;
    top: 70px;
    position: absolute;
    right: 0;
    box-shadow: -2px 0px 5px #F1F1F1;
    height: 2800px;
    padding-bottom: 1px;
}

.scroll-container:hover, .scroll-container:focus {
  overflow-y: auto;
}

.main {
    margin-left: 50px;
}
.container-content {
    padding: 0px 0px 0 20px;
}
.site-sidebar {
    z-index: 1210;
}
.site-sidebar.slidePanel {
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
}
.site-sidebar.slidePanel.slidePanel-right,
.site-sidebar.slidePanel.slidePanel-left {
    width: 400px;
    overflow: hidden;
}
.site-sidebar-content {
    height: 100%;
}
.site-sidebar-nav.nav-tabs > li {
    display: table-cell;
    width: 1%;
    border: none;
}
.site-sidebar-nav.nav-tabs > li > a {
    padding: 0;
    font-size: 12px;
    line-height: 60px;
}
.site-sidebar-tab-content > .tab-pane {
    height: 100%;
    padding: 35px 30px;
    max-width: 625px;
}
.site-sidebar-tab-content > .tab-pane.scrollable {
    padding: 0;
}
.site-sidebar-tab-content > .tab-pane .scrollable-content {
    padding: 20px 30px;
}
.site-sidebar-tab-content > .tab-pane .list-group > .list-group-item {
    padding-right: 30px;
    padding-left: 30px;
}
.site-sidebar .conversation {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1700;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.site-sidebar .conversation.active {
    right: 0;
}
.site-sidebar .conversation-header {
    border-bottom: 1px solid #e4eaec;
}
.site-sidebar .conversation-header > * {
    padding: 0 30px;
    margin: 0;
    line-height: 90px;
}
.site-sidebar .conversation-more,
.site-sidebar .conversation-return {
    color: rgba(55, 71, 79, .4);
    cursor: pointer;
}
.site-sidebar .conversation-more:hover,
.site-sidebar .conversation-return:hover,
.site-sidebar .conversation-more:focus,
.site-sidebar .conversation-return:focus {
    color: rgba(55, 71, 79, .6);
}
.site-sidebar .conversation-more:active,
.site-sidebar .conversation-return:active {
    color: #37474f;
}
.site-sidebar .conversation-title {
    position: relative;
    top: 1px;
    z-index: -1;
    color: #37474f;
    text-align: center;
}
.site-sidebar .conversation-content {
    padding: 30px 15px;
}
@media (max-width: 767px) {
    .site-navbar-collapse-show .slidePanel.slidePanel-right,
    .site-navbar-collapse-show .slidePanel.slidePanel-left {
        height: -webkit-calc(100% - 135px);
        height: calc(100% - 135px);
        margin-top: 135px;
    }
    .site-sidebar.slidePanel.slidePanel-right,
    .site-sidebar.slidePanel.slidePanel-left {
        width: 100%;
    }
}
.site-sidebar-nav.nav-tabs > li {
    display: table-cell;
    width: 1%;
    border: none;
}
.site-sidebar-nav.nav-tabs > li > a {
    padding: 0;
    font-size: 12px;
    line-height: 60px;
}
.site-sidebar-tab-content {
    width: 510px;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
    box-shadow: 2px 0px 8px #ccc;
}
.site-sidebar-tab-content > .tab-pane {
    height: 100%;
/*    padding: 20px 50px 20px 30px;*/
}
.site-sidebar-tab-content > .tab-pane.scrollable {
    padding: 0;
}
.site-sidebar-tab-content > .tab-pane .scrollable-content {
    padding: 20px 30px;
}
.site-sidebar-tab-content > .tab-pane .list-group > .list-group-item {
    padding-right: 30px;
    padding-left: 30px;
}
.site-sidebar .conversation {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1700;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.site-sidebar .conversation.active {
    right: 0;
}
.site-sidebar .conversation-header {
    border-bottom: 1px solid #e4eaec;
}
.site-sidebar .conversation-header > * {
    padding: 0 30px;
    margin: 0;
    line-height: 90px;
}
.site-sidebar .conversation-more,
.site-sidebar .conversation-return {
    color: rgba(55, 71, 79, .4);
    cursor: pointer;
}
.site-sidebar .conversation-more:hover,
.site-sidebar .conversation-return:hover,
.site-sidebar .conversation-more:focus,
.site-sidebar .conversation-return:focus {
    color: rgba(55, 71, 79, .6);
}
.site-sidebar .conversation-more:active,
.site-sidebar .conversation-return:active {
    color: #37474f;
}
.site-sidebar .conversation-title {
    position: relative;
    top: 1px;
    z-index: -1;
    color: #37474f;
    text-align: center;
}
.site-sidebar .conversation-content {
    padding: 30px 15px;
}
@media (max-width: 767px) {
    .site-navbar-collapse-show .slidePanel.slidePanel-right,
    .site-navbar-collapse-show .slidePanel.slidePanel-left {
        height: -webkit-calc(100% - 135px);
        height: calc(100% - 135px);
        margin-top: 135px;
    }
    .site-sidebar.slidePanel.slidePanel-right,
    .site-sidebar.slidePanel.slidePanel-left {
        width: 100%;
    }
}
.side-nav {
    background-color: #fff;
    padding: 0px;
    height: 100%;
    box-shadow: 0px -3px 9px 1px #DEDEDE;
}
.sidebar-nav-fixed {
    width: 20%;
}
.navbar-right {
    margin-right: 50px;
    width: 300px;
}
.nav-tabs {
    background-color: #E5E5E5;
    color: #808080;
    font-family: Helvetica, Arial, sans-serif;
}
.tab-text {
    color: #808080;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.563em;
}
.border-right {
    border-right: 1px solid #CCC;
    padding-right: 0px;
}
.alignleft .form-material .form-control:focus,
.form-material .form-control.focus {
    padding-left: 0px !important;
}
.nav-tabs.nav-justified > .active > a,
{
    border: none !important;
    border-radius: none !important;
}
.nav-tabs.nav-justified > li > a,
{
    border: none !important;
    border-radius: 0px !important;
}
.nav-tabs.nav-justified > .active > a:hover {
    border: none;
}
.nav-justified {
    /*    width: 31%;*/
}

/*form material*/

.radio-custom,
.checkbox-custom {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio-custom label,
.checkbox-custom label {
    min-height: 22px;
    margin-bottom: 0;
    font-weight: 300;
    cursor: pointer;
}
.radio-custom input[type="radio"],
.checkbox-custom input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}
.radio-custom.disabled label,
.checkbox-custom.disabled label,
fieldset[disabled] .radio-custom label,
fieldset[disabled] .checkbox-custom label {
    cursor: not-allowed;
}
.input-group-addon .radio-custom,
.input-group-addon .checkbox-custom {
    margin: 0;
}
.checkbox-custom {
    padding-left: 20px;
}
.checkbox-custom label {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
.checkbox-custom label:empty {
    padding-left: 0;
}
.checkbox-custom label::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    content: "";
    background-color: #fff;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.checkbox-custom label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    margin-left: -20px;
    font-size: 12px;
    line-height: 20px;
    color: #76838f;
    text-align: center;
}
.checkbox-custom input[type="checkbox"],
.checkbox-custom input[type="radio"] {
    z-index: 1;
    opacity: 0;
}
.checkbox-custom input[type="checkbox"]:focus + label::before,
.checkbox-custom input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox-custom input[type="checkbox"]:checked + label::before,
.checkbox-custom input[type="radio"]:checked + label::before {
    border-color: #e4eaec;
    border-width: 10px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.checkbox-custom input[type="checkbox"]:checked + label::after,
.checkbox-custom input[type="radio"]:checked + label::after {
    font-family: "Web Icons";
    content: "\f192";
}
.checkbox-custom input[type="checkbox"]:disabled + label,
.checkbox-custom input[type="radio"]:disabled + label {
    opacity: .65;
}
.checkbox-custom input[type="checkbox"]:disabled + label::before,
.checkbox-custom input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
    background-color: #f3f7f9;
    border-color: #e4eaec;
    border-width: 1px;
}
.checkbox-custom.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox-custom.checkbox-inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.checkbox-inline + .checkbox-inline {
    margin-left: 20px;
}
.checkbox-default input[type="checkbox"]:checked + label::before,
.checkbox-default input[type="radio"]:checked + label::before {
    background-color: #fff;
    border-color: #e4eaec;
    border-width: 1px;
}
.checkbox-default input[type="checkbox"]:checked + label::after,
.checkbox-default input[type="radio"]:checked + label::after {
    color: #62a8ea;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #62a8ea;
    border-color: #62a8ea;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #f96868;
    border-color: #f96868;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #57c7d4;
    border-color: #57c7d4;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f2a654;
    border-color: #f2a654;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #46be8a;
    border-color: #46be8a;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-sm {
    padding-left: 18px;
}
.checkbox-sm label {
    padding-left: 8px;
}
.checkbox-sm label:empty {
    padding-left: 0;
}
.checkbox-sm label::before,
.checkbox-sm label::after {
    width: 18px;
    height: 18px;
    margin-left: -18px;
}
.checkbox-sm label::after {
    font-size: 10px;
    line-height: 18px;
}
.checkbox-sm input[type="checkbox"]:checked + label::before,
.checkbox-sm input[type="radio"]:checked + label::before {
    border-width: 9px;
}
.checkbox-lg {
    padding-left: 24px;
}
.checkbox-lg label {
    padding-left: 12px;
}
.checkbox-lg label:empty {
    padding-left: 0;
}
.checkbox-lg label::before,
.checkbox-lg label::after {
    width: 24px;
    height: 24px;
    margin-left: -24px;
}
.checkbox-lg label::after {
    font-size: 14px;
    line-height: 24px;
}
.checkbox-lg input[type="checkbox"]:checked + label::before,
.checkbox-lg input[type="radio"]:checked + label::before {
    border-width: 12px;
}
.radio-custom {
    padding-left: 20px;
}
.radio-custom label {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
.radio-custom label:empty {
    padding-left: 0;
}
.radio-custom label::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    content: "";
    background-color: #fff;
    border: 1px solid #e4eaec;
    border-radius: 50%;
    -webkit-transition: border 300ms ease-in-out 0s, color 300ms ease-in-out 0s;
    -o-transition: border 300ms ease-in-out 0s, color 300ms ease-in-out 0s;
    transition: border 300ms ease-in-out 0s, color 300ms ease-in-out 0s;
}
.radio-custom label::after {
    position: absolute;
    top: 7px;
    left: 7px;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -20px;
    content: " ";
    background-color: transparent;
    border: 2px solid #76838f;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    -o-transition: -o-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
}
.radio-custom input[type="radio"] {
    z-index: 1;
    opacity: 0;
}
.radio-custom input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio-custom input[type="radio"]:checked + label::before {
    border-color: #e4eaec;
    border-width: 10px;
}
.radio-custom input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio-custom input[type="radio"]:disabled + label {
    opacity: .65;
}
.radio-custom input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio-custom.radio-inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.radio-inline + .radio-inline {
    margin-left: 20px;
}
.radio-default input[type="radio"]:checked + label::before {
    background-color: #fff;
    border-color: #e4eaec;
    border-width: 1px;
}
.radio-default input[type="radio"]:checked + label::after {
    border-color: #62a8ea;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #62a8ea;
}
.radio-primary input[type="radio"]:checked + label::after {
    border-color: #fff;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #f96868;
}
.radio-danger input[type="radio"]:checked + label::after {
    border-color: #fff;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #57c7d4;
}
.radio-info input[type="radio"]:checked + label::after {
    border-color: #fff;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f2a654;
}
.radio-warning input[type="radio"]:checked + label::after {
    border-color: #fff;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #46be8a;
}
.radio-success input[type="radio"]:checked + label::after {
    border-color: #fff;
}
.radio-sm {
    padding-left: 18px;
}
.radio-sm label {
    padding-left: 8px;
}
.radio-sm label:empty {
    padding-left: 0;
}
.radio-sm label::before {
    width: 18px;
    height: 18px;
    margin-left: -20px;
}
.radio-sm label::after {
    top: 7px;
    left: 7px;
    width: 4px;
    height: 4px;
    margin-left: -20px;
    border-width: 2px;
}
.radio-sm input[type="radio"]:checked + label::before {
    border-width: 9px;
}
.radio-lg {
    padding-left: 24px;
}
.radio-lg label {
    padding-left: 12px;
}
.radio-lg label:empty {
    padding-left: 0;
}
.radio-lg label::before {
    width: 24px;
    height: 24px;
    margin-left: -20px;
}
.radio-lg label::after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    margin-left: -20px;
    border-width: 2px;
}
.radio-lg input[type="radio"]:checked + label::before {
    border-width: 12px;
}
@media (min-width: 768px) {
    .form-inline .radio-custom,
    .form-inline .checkbox-custom {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .radio-custom label,
    .form-inline .checkbox-custom label {
        padding-left: 0;
    }
    .form-inline .radio-custom input[type="radio"],
    .form-inline .checkbox-custom input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .form-inline .radio-custom label {
        padding-left: 10px;
    }
    .form-inline .checkbox-custom label {
        padding-left: 10px;
    }
    .form-inline .checkbox-custom input[type="checkbox"] {
        position: absolute;
        margin-left: -20px;
    }
    .form-inline .radio-custom input[type="radio"] {
        position: absolute;
        margin-left: -20px;
    }
}
.form-horizontal .radio-custom,
.form-horizontal .checkbox-custom {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.form-horizontal .radio-custom,
.form-horizontal .checkbox-custom {
    min-height: 29px;
}
.form-material {
    position: relative;
}
.form-material.floating {
    margin-top: 0px;
    margin-bottom: 0px;
/*    padding-left: 5px;*/
}
.form-material.floating + .form-material.floating {
    margin-top: 0px;
}
.form-material .form-control {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
}
.form-material .form-control,
.form-material .form-control:focus,
.form-material .form-control.focus {
    float: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62a8ea), to(#62a8ea)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(#62a8ea, #62a8ea), -webkit-linear-gradient(#fff, #fff);
    background-image: -o-linear-gradient(#62a8ea, #62a8ea), -o-linear-gradient(#fff, #fff);
    background-image: linear-gradient(#62a8ea, #62a8ea), linear-gradient(#fff, #fff);
/*
        background-image: -webkit-gradient(linear, left top, left bottom, from(#62a8ea), to(#62a8ea)), -webkit-gradient(linear, left top, left bottom, from(#E0F2F8), to(#E0F2F8));
    background-image: -webkit-linear-gradient(#62a8ea, #62a8ea), -webkit-linear-gradient(#E0F2F8, #E0F2F8);
    background-image: -o-linear-gradient(#62a8ea, #62a8ea), -o-linear-gradient(#E0F2F8, #E0F2F8);
    background-image: linear-gradient(#62a8ea, #62a8ea), linear-gradient(#E0F2F8, #E0F2F8);
*/
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}
.no-cssgradients .form-material .form-control {
    border-bottom: 2px solid #e4eaec;
}
.form-material .form-control::-webkit-input-placeholder {
    color: #a3afb7;
}
.form-material .form-control::-moz-placeholder {
    color: #a3afb7;
}
.form-material .form-control:-ms-input-placeholder {
    color: #a3afb7;
}
.form-material .form-control:disabled::-webkit-input-placeholder {
    color: #ccd5db;
}
.form-material .form-control:disabled::-moz-placeholder {
    color: #ccd5db;
}
.form-material .form-control:disabled:-ms-input-placeholder {
    color: #ccd5db;
}
.form-material .form-control:focus,
.form-material .form-control.focus {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    outline: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    /*    padding-left: 15px;*/
    padding: 0;
}
.no-cssgradients .form-material .form-control:focus,
.no-cssgradients .form-material .form-control.focus {
    background: transparent;
    border-bottom: 2px solid #62a8ea;
}
.form-material .form-control:disabled,
.form-material .form-control[disabled],
fieldset[disabled] .form-material .form-control {
    background: transparent;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #ccd5db;
}
.form-material .form-control:disabled ~ .floating-label,
.form-material .form-control[disabled] ~ .floating-label,
fieldset[disabled] .form-material .form-control ~ .floating-label {
    color: #ccd5db;
}
.form-material .control-label {
    margin-bottom: 0;
    font-weight: 300;
}
.form-material .floating-label {
    position: absolute;
    left: 0;
    font-weight: 200;
    font-size: 14px;
    color: #B0B0B0;
    pointer-events: none;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.form-material .floating-label.floating-label-static {
    position: relative;
    top: auto;
    display: block;
}
.form-material [class*="col-"] > .floating-label {
    left: 15px;
}
.form-material .form-control ~ .floating-label {
    top: 2px;
    font-size: 14px;
/*    padding: 0 5px;*/
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label {
    top: -11.2px;
    font-size: 11.2px;
}
.form-material .form-control.input-sm ~ .floating-label {
    top: 6px;
    font-size: 12px;
}
.form-material .form-control.input-sm:focus ~ .floating-label,
.form-material .form-control.input-sm.focus ~ .floating-label,
.form-material .form-control.input-sm:not(.empty) ~ .floating-label {
    top: -15.6px;
    font-size: 10px;
    padding: 5px 0 0 0;
    /*
  top: -4.6px;
  font-size: 8px;
    padding: 5px 0;
*/
}
.form-material .form-control.input-lg ~ .floating-label {
    top: 5.9999994px;
    font-size: 18px;
}
.form-material .form-control.input-lg:focus ~ .floating-label,
.form-material .form-control.input-lg.focus ~ .floating-label,
.form-material .form-control.input-lg:not(.empty) ~ .floating-label {
    top: -14.4px;
    font-size: 14.4px;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label {
    font-weight: 500;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label {
    color: #62a8ea;
}
.form-material textarea.form-control {
    padding-bottom: 6px;
    resize: none;
}
.form-material.floating textarea.form-control {
    padding-top: 6px;
}
.form-material select.form-control {
    border: 0;
    border-radius: 0;
    box-shadow: 2px 2px 2px 2px #E2E2E2;
}
.form-material:not(.floating) .control-label + select[multiple] {
    margin-top: 500px;
}
.form-material .hint {
    position: absolute;
    display: none;
    font-size: 80%;
}
.form-material .form-control:focus ~ .hint,
.form-material .form-control.focus ~ .hint {
    display: block;
}
.form-material .form-control:not(.empty):invalid ~ .floating-label,
.form-material .form-control.focus:invalid ~ .floating-label {
    color: #f96868;
}
.form-material .form-control:invalid {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f96868), to(#f96868)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#f96868, #f96868), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#f96868, #f96868), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#f96868, #f96868), linear-gradient(#e4eaec, #e4eaec);
}
.form-material.form-group.has-warning .form-control:focus,
.form-material.form-group.has-warning .form-control.focus,
.form-material.form-group.has-warning .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2a654), to(#f2a654)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#f2a654, #f2a654), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#f2a654, #f2a654), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#f2a654, #f2a654), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-warning .form-control:focus,
.no-cssgradients .form-material.form-group.has-warning .form-control.focus,
.no-cssgradients .form-material.form-group.has-warning .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #f2a654;
}
.form-material.form-group.has-warning .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-warning .control-label {
    color: #f2a654;
}
.form-material.form-group.has-warning .form-control:focus ~ .floating-label,
.form-material.form-group.has-warning .form-control.focus ~ .floating-label,
.form-material.form-group.has-warning .form-control:not(.empty) ~ .floating-label {
    color: #f2a654;
}
.form-material.form-group.has-error .form-control:focus,
.form-material.form-group.has-error .form-control.focus,
.form-material.form-group.has-error .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f96868), to(#f96868)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#f96868, #f96868), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#f96868, #f96868), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#f96868, #f96868), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-error .form-control:focus,
.no-cssgradients .form-material.form-group.has-error .form-control.focus,
.no-cssgradients .form-material.form-group.has-error .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #f96868;
}
.form-material.form-group.has-error .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-error .control-label {
    color: #f96868;
}
.form-material.form-group.has-error .form-control:focus ~ .floating-label,
.form-material.form-group.has-error .form-control.focus ~ .floating-label,
.form-material.form-group.has-error .form-control:not(.empty) ~ .floating-label {
    color: #f96868;
}
.form-material.form-group.has-success .form-control:focus,
.form-material.form-group.has-success .form-control.focus,
.form-material.form-group.has-success .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#46be8a), to(#46be8a)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#46be8a, #46be8a), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#46be8a, #46be8a), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#46be8a, #46be8a), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-success .form-control:focus,
.no-cssgradients .form-material.form-group.has-success .form-control.focus,
.no-cssgradients .form-material.form-group.has-success .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #46be8a;
}
.form-material.form-group.has-success .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-success .control-label {
    color: #46be8a;
}
.form-material.form-group.has-success .form-control:focus ~ .floating-label,
.form-material.form-group.has-success .form-control.focus ~ .floating-label,
.form-material.form-group.has-success .form-control:not(.empty) ~ .floating-label {
    color: #46be8a;
}
.form-material.form-group.has-info .form-control:focus,
.form-material.form-group.has-info .form-control.focus,
.form-material.form-group.has-info .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#57c7d4), to(#57c7d4)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
    background-image: -webkit-linear-gradient(#57c7d4, #57c7d4), -webkit-linear-gradient(#e4eaec, #e4eaec);
    background-image: -o-linear-gradient(#57c7d4, #57c7d4), -o-linear-gradient(#e4eaec, #e4eaec);
    background-image: linear-gradient(#57c7d4, #57c7d4), linear-gradient(#e4eaec, #e4eaec);
}
.no-cssgradients .form-material.form-group.has-info .form-control:focus,
.no-cssgradients .form-material.form-group.has-info .form-control.focus,
.no-cssgradients .form-material.form-group.has-info .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #57c7d4;
}
.form-material.form-group.has-info .form-control:not(.empty) {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
}
.form-material.form-group.has-info .control-label {
    color: #57c7d4;
}
.form-material.form-group.has-info .form-control:focus ~ .floating-label,
.form-material.form-group.has-info .form-control.focus ~ .floating-label,
.form-material.form-group.has-info .form-control:not(.empty) ~ .floating-label {
    color: #57c7d4;
}
.form-material .input-group .form-control-wrap {
    margin-right: 5px;
    margin-left: 5px;
}
.form-material .input-group .form-control-wrap .form-control {
    float: none;
}
.form-material .input-group .input-group-addon {
    background: transparent;
    border: 0;
}
.form-material .input-group .input-group-btn .btn {
    margin: 0;
    border-radius: 4px;
}
.form-material input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.form-control-wrap {
    position: relative;
}
.modal-title {
    text-align: center;
    font-size: 1em;
}
.modal-body {
    color: #F00;
    font-size: 0.75em;
    text-align: center;
}
.modal-dialog {
    top: 30%;
/*    width: 100%;*/
}
.small-required {
    font-size: 0.65em;
    color: #808080;
    text-align: right;
    font-style: italic;
    margin-top: 10px;
    margin-right: -15px;
}
.page-title p {
    margin: 5px 0 5px 10px;
    color: #404040;
}
.btn-group {
/*    margin-bottom: 20px;*/
}
.btn-default {
 background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 12px;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default {
  background: #0082de;
  text-decoration: none;
    color: #ffffff;
}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: #e3e3e3;
    border-color: #d6d5d5;
    cursor: not-allowed !important;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-menu {
    list-style: outside none none;
    padding: 5px;
    margin: 0px;
    display: block;
    outline: medium none;
    background-color: #fff;
}

.ui-front {
    z-index: 100;
}



.new-nav {
    padding-left: 30px;
    margin: 10px 100px 0 0;
    list-style: none;
    display: block;
    float: right;
}

.new-nav  > li {
        float: left;
    margin-bottom: -1px;
}

.new-nav  > li a {
    background-color: #E5E5E5;
border: 0px solid transparent !important;
border-radius: 100%;
color: #8D8D8D;
cursor: pointer;
margin: 12px 8px 0px 10px;
padding: 10px 7px;
    vertical-align: middle;
}

.new-nav > li a:hover {
    color:#0079bd;
}






.new-nav2 {
    padding-left: 30px;
    margin: 10px 100px 0 0;
    list-style: none;
    display: block;
    float: right;
}
.new-nav2  > li {
        float: left;
    margin-bottom: -1px;
}

.new-nav2  > li a {
border: 0px solid transparent !important;
border-radius: 100%;
color: #a8a8a8;
cursor: pointer;
margin: 12px 8px 0px 10px;
padding: 10px 7px;
    vertical-align: middle;
}

.new-nav2 > li a:hover {
    color:#ffffff;
}

.new-nav2 > li a:active {
    color:#0079bd;
}




.deal-summary,
.tranche-summary,
.disclaimer-summary,
.source,
.message-subject,
.message-comment {
    color: #404040;
font-family: Hack, monospace;
    /*    font-family: 'Consolas', 'Courier New';*/
    font-size: 0.825em;
    font-weight: bold;
    margin-left: 15px;
    width: 80ch;
    cursor: text;
    line-height: 2.125em;
}
.deal-summary,
.disclaimer-summary,
.source {
    margin-top: 0px;
}
.disclaimer-summary {
	margin-bottom: 10px;
}
.deal-summary-text,
.tranche-summary-text {
    float: left;
    display: inline-block;
    overflow-wrap: break-word;
    white-space: pre;
}
.deal-header {
    max-width: 700px;
    padding: 10px 0;
}
.deal-summary-page {
    height: 100%;
}
.deal-tranche-summary {
    display: block;
    height: 100%;
    min-height: 50%;
}
.deal-tranche-summary h4 {
    font-family: 'Consolas', 'Courier New';
    font-weight: bold;
}
.deal-summary-header {
    border-bottom: solid 1px #000;
    padding-top: 10px;
}
.deal-tranche-summary label,
.deal-tranche-summary select {
    font-size: 0.750em;
}
.deal-tranche-summary input {
    font-weight: bold;
    margin: 5px;
}
.deal-tranche-summary label {
    font-size: 0.500em;
}
.deal-tranche-summary select {
    border: 1px solid #666;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.750em;
    height: 30px;
    padding-left: 10px;
    width: 300px;
}
.deal-tranche-summary > span {
    border-bottom: solid 1px #999999;
    display: block;
    margin: 15px 0 0 20px;
    width: 95%;
}



.sidebar-button {
    margin-top: 25px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

.title {
    color: #fff;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    margin-right: 15px;
}
.title a {
    color: #fff;
}

#label {
	font-weight: 400 !important;
}



#check {
  display: none;
}

.checkBoxWrapper {
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  background: #f2f2f2;
  overflow: hidden;
    margin-bottom: 25px;
}
.checkBoxWrapper #checkBox {
  border: 1px solid #bdbfbe;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #e8efeb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 16px;
  left: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.checkBoxWrapper #checkBox:before {
/*  content: "ON";*/
  line-height: 40px;
  margin-left: -35px;
  color: #e8efeb;
}
.checkBoxWrapper #checkBox:after {
/*  content: "OFF";*/
  line-height: 50px;
  margin-left: 70px;
  color: #e8efeb;
}
.checkBoxWrapper #check:checked + #checkBox {
  left: 35px;
}


/************************************
 * Drops
************************************/


.modal-link {
    padding-left: 0px;
    margin-bottom: 10px;
    color: #bfbfbf;
}

.modal-link a {
    color: #404040;
    text-decoration: none;
    font-weight: 300;
}

.modal-link a:hover{
    color: #0079bd;
    text-decoration: none;
}

.full-modal {
       
    height: 100%;
    width: 100%;
    margin-left: 30px;
    box-shadow: none;
    border: none;
}

.top-title {
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
}

.modal-window {
    margin-top: 75px;
    overflow-x: scroll;
}

.nav-btn {
    padding-left: 30px;
    padding-top: 9px;
}

/*
.tranche-button {
    padding: 5px 10px !important;
    background-color: #F2F2F2;
    color: #333;
}
*/

.bordered {
    border-bottom: solid 1px #EFEFEF !important;
}

.drops {
    opacity: 0; 
    display: block; 
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px); 
    transform-origin: 50% 50% 0px;
}


.add-fields {
    color: #1184db;
    padding-left: 10px;
}

.saving {
    color: #fff;
    margin: 15px 0;
}


/************************************
 * CROSS BROWSER SECTION
************************************/

@media (min-width: 1200px) {
	#b-icons > .col-lg-3 {
	width: 20%;
	}
}

@media (min-width: 768px) {
	#b-icons > .col-lg-3 {
		width: 25%;
	}
}

@media (min-width: 992px) {
	#b-icons > .col-md-3 {
		width: 10%;
	}
}

@media (min-width: 768px) {
	#b-icons >  .col-sm-3 {
		width: 20%;
	}
}




/************************************
 * Modal Styles
************************************/
#modal-container {
	position:relative;
	margin-top:30px;
	overflow-x:scroll;
    overflow-y: hidden;
    margin-left: 25px;
    width: 2500px;
}

#modal-container-two {
	position:relative;
	margin-top:30px;
    margin-left: 25px;
    margin-right: 25px;
}


/************************************
 * SVG ANIMATIONS
************************************/
#browser-container {
	position:relative;
	top:500px;
}


#btn-openModal {
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;

}


#cursor{
	position:relative;
	top:-100px;
}

#modal {
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;
}

#modal-btn-close {
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;
}

#el-01,
#el-02,
#el-03  
{
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;
}

.modalIn {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    overflow-y: auto;
    z-index: 9999;
    opacity: 1;
    animation-duration: 0.6s;
    margin-top: 60px;
}

.thumb {
    background-color: #fff;
    margin: 5px;
    width: 300px;
    padding: 15px 20px 20px 10px;
    box-shadow: 1px 1px 5px 1px #EFEFEF;
}


/************************************
 * Close button
************************************/
#closebt-container {
	position: relative;
	width:100%;
	text-align:left;
	margin-top:40px;
    margin-left: 40px;
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}

.closebt:hover {
	color: #d1d1d1;
}

.btn {
	padding: 5px 12px;
}
a.btn {
	position:relative;
	background:#0079bd;
	color:#ffF;
	font-size:20px;
	text-decoration:none;
	margin: 20px;
	padding: 20px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	/*transition*/
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a.btn:hover {
	color:#fff;
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
}

svg:hover {
    fill: #fce57e;
}
/************************************
 * UI 
************************************/
button.btn-white {
	font-family: 'Lato';
	background: none;
	border-bottom:0px;
	border-radius: 0px;
	font-weight: 900;
	padding: 10px 0px;
	outline:none;

}
.btn-white i {
	position:relative;
	left:0px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn-white:hover > i {
	position:relative;
	left:4px;
}

.btn-white > i {
	font-size: 35px;
	top: 4px;
	margin-left: 4px;
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.thumb > img {
	width:100%;
}

.btn-black {
	background:transparent;
	border:2px solid #333;
	outline:none;
	color:#333;
	padding:15px 25px;
	font-family:'Lato';
	margin:20px;
	font-weight:900;
	letter-spacing:1.1px;
	border-radius:5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.btn-black:hover {
	background:transparent;
	border:2px solid #359491;
	background:#39BEB9;
	outline:none;
	color:#fff;
}

.btn-black > i {
	font-size:19px;
	margin-left:10px;
 padding-right: 70px;
}

.btn:focus {
color: #fff;
}

.top-space {
    margin-top: 100px;
}

.tranche-button {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 12px;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.tranche-button:hover {
  background: #0082de;
  text-decoration: none;
  color: #fff;
}

.tranche-button:focus {
  background: #0082de;
  text-decoration: none;
  color: #fff;
 outline: 1px auto -webkit-focus-ring-color
}

.main-button {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 16px;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.main-button:hover {
  background: #0082de;
  text-decoration: none;
  color: #fff;
}

/*.main-button-disabled {
    background-color: #e3e3e3;
    border-color: #d6d5d5;
    text-decoration: none;
    color: #9C9C9C;
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
    padding: 5px 16px;
}


.main-button:focus {
  background: #0066b7;
  text-decoration: none;
  color: #fff;
 outline: none!important;
    box-shadow: none!important;
}
*/

.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed !important;
    box-shadow: none;
    opacity: .85;
    background-color: #D6D6D6;
}


/* Core */

.filters input {
  display: none;
}

.filters .icon {
  text-align: center;
  display: inline-block;
}

.filters .icon .fa {
  visibility: hidden;
}

.filters input:checked + .icon .fa {
  visibility: visible;
}


/* IE8 and lower disabling hack because it does not support the :checked selector */

.filters input {
  display: inline\9;
}

.filters .icon {
  display: none\9;
}


/* Optional */

.filters {
  /* prevent accidental selection when clicking */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.filters label {
  cursor: pointer;
}


/* Checkbox styling */

.filters input {
    margin: 0 .1em; /* Use something similar to .icon */
}

.filters .icon {
  color: #ffffff;
  border: solid #ededed 1px;
  text-decoration: none;
    background: #f2f2f2;
    border-radius: .2em;
    text-align: center;
    font-size: 1.7em;
    color: #0077CB;
    margin: 0 .2em;
    padding: 0.1em 0.3em 0.1em 0.25em;
    line-height: 1.2em;
}

.filters .icon:hover {
    color: #fff;
    transition: all .2s linear;
}

/* Inline menu styling */
.filters {
  list-style: none;
  display: inline-block;
    height: 50px;
}

.filters li {
  display: inline-block;
  margin-right: 0.3em;
}


/* Extra beautify */
.buttons {
    visibility: hidden;
    height: 0px;
    padding-top: 10px;
}

.buttons2 {
    visibility: hidden;
    height: 0px;
}
.showme {
    visibility: visible;
   
}





.fa-fix {
        height: 21px;
    width: 21px;
}

.checked {
    visibility: visible !important;
    color: #0B407E;
    transition: color 0.3s ease-out;
}
.basic {
    font-size: 0.85em;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 500;
    padding-left: 110px;
}

.margins {
        margin: 0 50px 0 250px;
}

.nope {
    padding: 30px;
}

.cancel-btn {
        background: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #fefefe,#f6f6f6);
  background-image: -moz-linear-gradient(top, #fefefe,#f6f6f6);
  background-image: -ms-linear-gradient(top, #fefefe,#f6f6f6);
  background-image: -o-linear-gradient(top, #fefefe,#f6f6f6);
  background-image: linear-gradient(to bottom, #fefefe,#f6f6f6);
    background-color: #f6f6f6; 
    font-size: 10px;
    color: #777777;
    border: 1px solid #f1f1f1;
}
.remove-btn {
    background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  color: #ffffff;
  border: solid #216ea8 1px;
    font-size:10px;
}
.remove-btn:hover {
   background: #0082de;
  text-decoration: none;
  color: #fff;
}






/*
#checkboxes{
  background-color:#fff;
  min-height:200px;
  padding:10px;
  margin-top:20px;
}


.checkbox{
  margin:20px;
}
*/

.checkbox label {
  min-height: 21px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
        line-height: 22px;
    font-size: 13px;
    font-family: inherit;
    color: #B0B0B0;
    font-weight: 200;
}

.c-checkbox span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
}

.c-checkbox span:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 23px;
    line-height: 26px;
  vertical-align: middle;
}

.c-checkbox input[type=checkbox]{
  position:absolute;
  margin: 4px 0 0;
  opacity:0;
}

.c-checkbox input[type=checkbox]:checked {
color: #0B407E;
transition: color 0.3s ease-out;
}

.c-checkbox input[type=checkbox]:checked + span{
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #0B407E;
  border: solid #216ea8 1px;
}

.c-checkbox input[type=checkbox]:checked + span:before{
  color: #0B407E;
opacity: 1;
/*transition: color 0.3s ease-out;*/
}






.small-checkbox span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
}

.small-checkbox span:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 20px;
    line-height: 18px;
  vertical-align: middle;
}

.small-checkbox input[type=checkbox]{
  position:absolute;
  margin: 4px 0 0;
  opacity:0;
}

.small-checkbox input[type=checkbox]:checked {
color: #0B407E;
transition: color 0.3s ease-out;
}

.small-checkbox input[type=checkbox]:checked + span{
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #0B407E;
  border: solid #216ea8 1px;
}

.small-checkbox input[type=checkbox]:checked + span:before{
  color: #0B407E;
opacity: 1;
/*transition: color 0.3s ease-out;*/
}

.small-check-helper {
    margin-top: -2px;
    margin-bottom: 16px;
    margin-left: 7px;
}







.not-allowed {
        color: #D8D8D8 !important;
    cursor: not-allowed!important;
   pointer-events: none;
}

.not-allowed p{
    color: #D8D8D8 !important;
    cursor: not-allowed!important;
    pointer-events: none;
}

.bg-not-allowed {
    color: #D8D8D8;
    cursor: not-allowed!important;
    background-color: #f7f7f7;
/*     padding-bottom: 10px;*/
}


.fake-table {
    width: 625px;
    border-bottom: solid 1px #DADADA;
    /*  margin-top: 10px;*/
    /* height: 45px; */
    padding-top: 10px;
     padding-bottom: 10px; 
}


.company-name {
    color: #404040;
    padding-top: 10px;
    font-weight: 700;
    text-align: center;
}
.company-location {
    color: #b2b2b2;
    padding-top: 10px;
    font-style: italic;
    text-align: center;
    font-weight: 200;
}

.disabled2 {
    padding: 5px 16px;
        pointer-events: none;
    cursor: not-allowed !important;
    box-shadow: none;
    opacity: .65;
    background-color: #D6D6D6;
}


#stay {
    visibility: hidden;
    height: 0px;
}
#apple {
    visibility: hidden;
    height: 0px;
}

.unhidden {
visibility: visible !important;
    height: 40px !important;
}

.remove-list {
    color: #C73A41;
    padding-top: 5px;
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
}

.bg2 {
background-color: #FFF7E8;
}
.check-helper {
    margin-top: -13px;
    margin-bottom: 16px;
    margin-left: 7px;
}

.btn-lg {
    padding: 20px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}



.main-button-large {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 16px;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.main-button-large-disabled {
  background: #D9ECFA;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #A8CCE0;
  font-size: 15px;
  padding: 10px 16px;
  border: solid #DAE4EC 1px;
  text-decoration: none;
  cursor: not-allowed;
pointer-events: none;    
}

.continue-button {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 48px;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.continue-button:hover {
  background-color: #098FEF !important;
    background-image: none;
  font-family: Helvetica, Arial sans-serif;
  color: #ffffff;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.change-button {
  background-color: #fbfbfb;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #BFBFBF;
  font-size: 15px;
  padding: 5px 48px;
  border: solid #dfdfdf 1px;
  text-decoration: none;
}

.change-button-selected {
  background-color: #3DAE58;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #fff;
  font-size: 15px;
  padding: 5px 48px;
  text-decoration: none;
}

.change-button-selected:hover {
    color:#fefefe;
}

.change-button:hover {
  background-color: #fbfbfb;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #0079bd;
  font-size: 15px;
  padding: 5px 48px;
  border: solid #dfdfdf 1px;
  text-decoration: none;
}

.change-button:active {
    color:#0079bd;
}

.main-button-large:hover {
  background: #0082de;
  text-decoration: none;
  color: #fff;
}



.green-notification {
    background-color: #3DAE58;
    padding: 20px 10px 20px 30px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.yellow-notification {
    background-color: #FFC956;
    padding: 20px 10px 20px 30px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.red-notification {
    background-color: #D44F53;
    padding: 20px 10px 20px 30px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.small-italic {
    font-size: 10px;
    font-style: italic;
    color: #ccc;
    font-weight: 200;
    text-align: right;
}

.left-margin-45 {
    margin-left: 45px;
}

.yr-fixed {
    margin-top: 20px;
    border-top: solid 1px #ccc;
    padding-top: 20px;
}

.tab-pane-scroll {
    height: 100%;
/*    padding: 20px 25px;*/
    max-width: 625px;
    overflow: scroll;
/*    margin-bottom: 50px;*/
}

.aside-foot {
/*    margin-bottom: 50px;*/
    padding-top: 20px;
}


.table-bordered>thead>tr>th {
border: none;

}

.table>thead>tr>th {
    border-bottom: none;
        font-size: 12px;
    color: #ddd;
    font-weight: 200;
}

.table>tbody>tr>td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}




.tgl {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl span {
  position: relative;
  display: block;
  height: 1.8em;
  line-height: 1.2em;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
  border-radius: 2em;
  padding: 0.2em 1em;
  border: 1px solid #fafafa;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
}
.tgl span:before {
  position: relative;
  display: block;
  line-height: 1.3em;
  padding: 0 0.2em;
  font-size: 1em;
}
.tgl span:after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  margin-left: -1.45em;
  top: 0.2em;
  background: #ffffff;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
}
.tgl input[type="checkbox"] {
  display: none !important;
}
.tgl input[type="checkbox"]:not(:checked) + span {
  background: #dedede;
  color: #ffffff;
  padding-left: 1.6em;
  padding-right: 0.4em;
}
.tgl input[type="checkbox"]:not(:checked) + span:before {
  content: attr(data-off);
  color: #ffffff;
}
.tgl input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
  left: 1.6em;
}
.tgl input[type="checkbox"]:checked + span {
  background: #3dae58;
  color: #ffffff;
  padding-left: 0.4em;
  padding-right: 1.6em;
}
.tgl input[type="checkbox"]:checked + span:before {
  content: attr(data-on);
}
.tgl input[type="checkbox"]:checked + span:after {
  background: #ffffff;
  left: 100%;
}
.tgl input[type="checkbox"]:disabled,
.tgl input[type="checkbox"]:disabled + span,
.tgl input[type="checkbox"]:read-only,
.tgl input[type="checkbox"]:read-only + span {
  cursor: not-allowed;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span {
  background: #e3e3e3;
  color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:before {
  color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
}
.tgl-inline {
  display: inline-block !important;
  vertical-align: top;
}
.tgl-inline.tgl {
  font-size: 16px;
}
.tgl-inline.tgl span {
  min-width: 50px;
}
.tgl-inline.tgl span:before {
  line-height: 1.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.tgl-inline-label {
  display: inline-block !important;
  vertical-align: top;
  line-height: 26px;
}

.simple-toggle {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  text-align: center;
  margin: auto;
}

.align-middle {
    vertical-align: middle;
}

.tooltip-header {
    color:#d1d131;
    font-size: 16px;
}

.select-notification {
    background-color: #fff;
    padding: 15px 10px 15px 35px;
    color: #333;
    vertical-align: middle;
    font-size: 12px;
}

.padding-ten-top {
    padding-top: 10px;
}


.thumb {
    background-color: #fff;
    margin: 5px;
    width: 300px;
    padding: 15px 20px 20px 15px;
    box-shadow: 1px 1px 5px 1px #EFEFEF;
}

.thumb2 {
    background-color: #fff;
    margin: 5px;

    padding: 15px 20px 20px 0px;
    border-bottom: solid 1px #EFEFEF;
}
.account-title {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    color:#333;
}

.account-row {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.account-title-active {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    color:#0582D8;
}


.card-button {
    margin-top: 30px;
}

.submit-body {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #eee;
    color: #A9A9A9;
    font-size: 17px;
    font-weight: 200;
}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.close2 {
    float: right;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #0079bd;
}


.btn-group-switch {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  border: solid #216ea8 1px;
  text-decoration: none;
}
.btn-group-switch .btn {
  background: none transparent;
  color: #eee;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
    font-size: 12px;
       padding: 5px 26px;
}
.btn-group-switch .btn:hover {
  color: #fff;
}
.btn-group-switch .btn.active,
.btn-group-switch .btn:active {
  background-color: #0569af;
    border: solid #216ea8 1px;
  color: #ffffff;
  text-decoration: none;
    font-size: 12px;
}

.radio-text {
    margin-right: 10px !important;
}

.right-card {
    margin: 80px 30px 30px 30px;
}

.select-tranche {
    padding-left: 60px;
}


.sidebar-help {
    padding: 10px 20px 0px 20px;
}

.error-text {
    padding-left: 30px;
    color: #D44F53;
    font-weight: 200;
}

.right-border {
    border-right: 1px solid #ccc;
}

.dim {
    opacity: .5;
}


.docs-container {
    border: 1px solid #ABABAB;
    padding: 20px;
    border-radius: 3px;
/*
    margin-top: -17px;
     margin-top: -83px; 
*/
}

.upload-container {
 border: 1px dashed #ABABAB;
    padding: 40px;
    border-radius: 3px;
    margin-top: -17px;
}

.doc-container {
border: 1px solid #ABABAB;
    padding: 20px;
    border-radius: 3px;
    margin-top: -17px;
}

.uploads-container {
border: 2px dashed #ABABAB; 
padding: 40px; 
border-radius: 3px; 
margin-top: 12px; 
background-color: #f9f9f9;
    color: #B7B7B7;
    font-weight: 200;
}

.change-button2 {
  background-color: #ffffff !important;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #BFBFBF;
  font-size: 12px;
  padding: 5px 14px;
  border: solid #dfdfdf 1px;
  text-decoration: none;
}
.change-button2:focus {
    color:#0079bd;
}


.green-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #3DAE58;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -2px;
    position: relative;
}

.green-badge2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #3DAE58;
    text-align: center;
    white-space: nowrap;
    margin-left: -25px;
    position: relative;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: .8s !important;
}

.upload-area {
    margin-left:-25px;
    padding-top: 10px;
}

.fa-close:hover {
color: #de474e;
    cursor: pointer;
}
.req-bg {
background-color: #F8FCFD !important;
}

/*
@-webkit-keyframes green-badge2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(61, 174, 88, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(61, 174, 88, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(61, 174, 88, 0);
  }
}
@keyframes green-badge2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(61, 174, 88, 0.4);
    box-shadow: 0 0 0 0 rgba(61, 174, 88, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(rgba(61, 174, 88, 0);
      box-shadow: 0 0 0 10px rgba(rgba(61, 174, 88, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(rgba(61, 174, 88, 0);
      box-shadow: 0 0 0 0 rgba(rgba(61, 174, 88, 0);
  }
}
*/


.danger-button {
  background-color: #d44f53;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Helvetica, Arial sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 48px;
  border: solid #d44f53 1px;
  text-decoration: none;
}

.danger-button:hover {
  background-color: #e64e52;
  color: #ffffff;
  text-decoration: none;
}



.document-card {
box-shadow: 0px 0px 10px 1px #eee;
    padding: 10px 25px 8px 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 20px 0 0 0;
}


.icon-fix {
    margin-left: -20px;
    margin-top: 15px;
    color: #B7B7B7;
}


.image-fix {
    float: left;
    width: 65px;
    margin-left: -30px;
}
